<h3>Introduction</h3>

<p>Learning Products Custom</p>

<p>The LP system needs to place a start and end tag around content
for various post processing activities. Most of the LP macros are 
identical from the view of Confluence and just place distinct markers
around the content to enable the post processing. This macro allows
for an arbitrary marker to be placed around the content allowing the
LP post processing team to prototype features without having to roll
the plugin to add in new macros that provide the expected tags.</p>

<p>It is anticipated that use of this macro is temporary as once
the prototyping is done, it's better to have a regular macro so
that users can't accidentally mistype the labels.</p>

<p>This macro is simliar to the LP Tagged Content macro, but renders
the content in a box when viewed with Confluence. It also prepends
"LP_" to the tag on rendering.</p>

<p>The tags start with</p>
<pre>@LP_${TagName}_Start@</pre>
<p>and end with</p>
<pre>@LP_${TagName}_End@</pre>

<h3>Wiki Syntax</h3>

<pre>{lp-tagged-content:tag-name=TagName}body{lp-tagged-content}</pre>

<h3>Parameters</h3>
<p><strong>Tag</strong>: The name of the custom tag.</p>
