#if( $lpExport )
<div class="lp-prototype-macro-export">
<p>@LP_${customTag}_START@</p>
$!{leadingTagAsHtml}LP_${customTag}: $body
<p>@LP_${customTag}_END@</p>
</div>
#else
<div class="panel lp-prototype-macro-container">
   <div class="lp-prototype-macro lp-prototype-macro-top lp-prototype-macro-header">LP PROTOTYPE MACRO: LP_${customTag}_START -> LP_${customTag}_END</div>
   <div class="lp-prototype-macro lp-prototype-macro-body">$body</div>
</div> 
#end