<h3>Introduction</h3>

<p>Learning Products Tagged Content</p>

<p>The LP system needs to place a start and end tag around content
for various post processing activities.  This is a generic macro
which puts a custom wrapper around any content.</p>

<p>The tags start with</p>
<pre>@${TagName}_Start@</pre>
<p>and end with</p>
<pre>@${TagName}_End@</pre>

<h3>Wiki Syntax</h3>

<pre>{lp-tagged-content:tag-name=TagName}body{lp-tagged-content}</pre>

<h3>Parameters</h3>
<p><strong>Tag Name</strong>: The name of the custom tag.</p>
