.keysight-theme-label-select2 {
   margin-top: -10px;
}
/*
.ui-menu {
    width:248;
    display:block;
    border-top:1px solid #343434;
    border-left:1px solid #343434;
    border-right:3px solid #343434;
    border-bottom:3px solid #343434;
    padding:0px;
    margin:0px;
}

.ui-menu .ui-menu-item {
    width:248;
    padding:4px 5px;
    margin:0px;
    display:block;
    background:white;
    list-style-type: none;
    border: 0px;
}

.ui-menu .ui-menu-item a{
    width:248;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color:#343434;
}

.ui-state-hover, .ui-state-active {
    background-color:#e90029;
    color:#FFFFFF;
}
*/

.keysight-api-documentation-hidden {
   display: none;
}

.keysight-api-documentation-visible {
   display: block;
}

ul.keysight-api-documentation-names {
    padding: 0 20px;
    list-style: none;
}

li.keysight-api-documentation-right:before {
   content: "\25B6 \ ";
}

li.keysight-api-documentation-down:before {
   content: "\25BC \ ";
}

li.keysight-api-documentation-version:before {
   content: "\25C7 \ ";
}


/* Navigation Box Styles */
.navigation-box-container{
   border: 0;
   background: none;
   border-radius: 0;
}

.navigation-box{
   background: #e8e8e8 none repeat scroll 0 0;
   border-style: solid;
   border-width: 1px;
   overflow: hidden;
}

.navigation-box-header{
   line-height: 2;
   text-align: center;
   padding: 0 12px;
   font-weight: bold;
} 

.navigation-box-top{
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
   -moz-border-radius-topleft: 8px;
   -moz-border-radius-topright: 8px;
   -webkit-border-top-left-radius: 8px;
   -webkit-border-top-right-radius: 8px;
}

.navigation-box-container .navigation-box-header a,
.navigation-box-container .navigation-box-header a:link,
.navigation-box-container .navigation-box-header a:active,
.navigation-box-container .navigation-box-header a:visited,
.navigation-box-container .navigation-box-header a:hover {
   color: #e8e8e8;
}

.navigation-box-container .navigation-box-header a:hover{
   text-decoration: underline;
}

.navigation-box-container .navigation-box-body a,
.navigation-box-container .navigation-box-body a:link,
.navigation-box-container .navigation-box-body a:active,
.navigation-box-container .navigation-box-body a:visited,
.navigation-box-container .navigation-box-body a:hover {
   color: #555555;
}

.navigation-box-container .navigation-box-body a:hover{
   text-decoration: underline;
}

.navigation-box-body{
   font-size:.95em
   text-align:left;
   padding:10px;

   border-top: none;
   border-bottom: 1px solid #555555;
   border-left: 1px solid #555555;
   border-right: 1px solid #555555;
   border-bottom-left-radius: 8px;
   border-bottom-right-radius: 8px;
   -moz-border-radius-bottomleft: 8px;
   -moz-border-radius-bottomright: 8px;
   -webkit-border-bottom-left-radius: 8px;
   -webkit-border-bottom-right-radius: 8px;
}

.keysight-dark-red{
   border: 1px solid #555555;
}
.keysight-dark-red-header{
   color: #e8e8e8;
   background-color: #891518;
}
.keysight-dark-red-body{
   color: #000000;
   background-color: #e8e8e8;
}

.keysight-dark-gray{
   border: 1px solid #343434;
}
.keysight-dark-gray-header{
   color: #e8e8e8;
   background-color: #343434;
}
.keysight-dark-gray-body{
   color: #000000;
   background-color: #e8e8e8;
}

.keysight-gray{
   border: 1px solid #555555;
}
.keysight-gray-header{
   color: #e8e8e8;
   background-color: #555555;
}
.keysight-gray-body{
   color: #000000;
   background-color: #e8e8e8;
}
