.config-container{
   display:table;
}

.config-row{
   display:table-row;
}

.config-cell{
   display:table-cell;
   padding:10px;
   margin: 5px;
}

.config-input-container{
   display:table;
}

.config-input-row{
   display:table-row;
}

.config-input-buttons{
   padding: 50px 10px 10px 10px;
}

.config-input-cell{
   display:table-cell;
   padding:10px 25px 10px 10px;
   margin: 5px;
}

form.aui div.right-button {
   padding: 0px 0px 0px 0px;
}

form.aui .field-group.confluence-support-remove-button-container {
   padding: 4px 0px 4px 0px;
}

.connection-profile{
   border: 1px solid #343434;
   background-color: #e8e8e8;
   padding: 10px 10px 10px 10px;
   margin: 25px;
}

.current-state-table {
    text-align: left;
}

.list-container {
   border: 1px solid #343434;
   background-color: #e8e8e8;
   padding: 10px 10px 10px 0px;
   margin: 25px 25px 0px 25px;
}

.list-container p {
   padding-left: 25px;
}

.none-saved {
   padding: 0px 0px 0px 25px;
}

.keysight-database-alert{
   background-color: #000000;
   color: #f3b632;
}

.keysight-database-ok{
   background-color: #FFFFFF;
   color: #6dac3a;
}

.keysight-database-not-ok{
   background-color: #e90029;
   color: #e8e8e8;
}

.keysight-table{
   display:table;
}

.keysight-table-row{
   display:table-row;
}

.keysight-table-cell{
   display:table-cell;
}

div.connection-profile table tr th {
   text-align: left;
   vertical-align: text-top;
}
