#set( $dataColumnIndex = 2 )
<div class="keysight-faq-container">
    <div class="keysight-faq-header"></div>
    <div class="keysight-faq-body">

    <table class="keysight-faq-link-table aui aui-table-sortable">
        <thead>
           <tr>
        #if($includeLikeControl)
            <th>
               Your Likes</th>
            #set( $dataColumnIndex = $dataColumnIndex + 1 )
        #end
            <th>
            Page Title</th>
            #set( $dataColumnIndex = $dataColumnIndex + 1 )
        #if( $includeSpace )
            <th>
            Space</th>
            #set( $dataColumnIndex = $dataColumnIndex + 1 )
        #end
        #if( $includeLastModificationDate )
            <th>
            Modified On</th>
            #set( $dataColumnIndex = $dataColumnIndex + 1 )
        #end
        #if( $includeLastModificationAuthorName || $includeLastModificationAuthorUserName )
            <th>
            Last Contributor</th>
            #set( $dataColumnIndex = $dataColumnIndex + 1 )
        #end
        #if( $includeLikes )
            <th>
            Likes</th>
            #set( $dataColumnIndex = $dataColumnIndex + 1 )
        #end
        #if( $includeLabels )
            <th>
            Labels</th>
            #set( $dataColumnIndex = $dataColumnIndex + 1 )
        #end
            </tr>
        </thead>
        <tbody class="keysight-faq-link-table-body">
           #foreach( $page in $pages )
           <tr class="keysight-faq-list-row">
               #if($includeLikeControl)
               <td>
                  <div id="keysight-faq-like-it-$uniqueId">
                        <span class="aui-icon aui-icon-small aui-iconfont-like"></span>
                        #if($page.userLikesPage())
                           <span class="keysight-faq-like-description">You like this.</span>
                           <a class="keysight-faq-like-control" pageId="$page.getPageId()">
                           <span class="like-button-text">(UnLike)</span>
                           </a>
                        #else
                           <span class="keysight-faq-like-description"></span>
                           <a class="keysight-faq-like-control" pageId="$page.getPageId()">
                           <span class="like-button-text">Like</span>
                           </a>
                        #end
                  </div>
               </td>
               #end
               <td>
                   <a href="$baseUrl$page.getPageUrl()">$page.getPageTitle()</a>
                   #if( $includeContentPreview )
                      <br />
                      <p>$page.getContentPreview()</p>
                   #end
               </td>
               #if( $includeSpace )
                   <td><a href="$baseUrl$page.getSpaceUrl()">$page.getSpaceName()</a></td>
               #end
               #if( $includeLastModificationDate )
                   <td>$page.getLastModificationTimeShort()</td>
               #end
               #if( $includeLastModificationAuthorName && $includeLastModificationAuthorUserName )
                   <td>$page.getLastModificationAuthorName() ($page.getLastModificationAuthorUserName())</td>
               #elseif( $includeLastModificationAuthorName )
                   <td>$page.getLastModificationAuthorName()</td>
               #elseif( $includeLastModificationAuthorUserName )
                   <td>$page.getLastModificationAuthorUserName()</td>
               #end
               #if( $includeLikes )
                   <td class="faq-like-count">$page.getLikeCount()</td>
               #end
               #if( $includeLabels )
                   <td><ul class="label-list keysight-faq-link-table-label-list">
                   #foreach( $label in $page.getPage().getLabels() )
                        <li class="aui-label">$label.getName()</li>
                   #end
                   </ul></td>
               #end
           </tr>
        #end
        </tbody>
    </table>

    </div>
    <div class="button-spinner keysight-spinner"></div>
    <div class="keysight-faq-footer">
        <div class="keysight-faq-list-loading-text">$pages.size() items</div>
    </div>
</div>
